.CheckItLink_Button{
	display: none;
	cursor: pointer;
	position:absolute;
	width: 32px;
	height: 32px;
	z-index: 999999999;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNvyMY98AAAI4SURBVFhHYxgFuABX6VIvjvKlcdTA7CVLXaDGEgc4yxbLAPF/zrIl1MGlS/4y1M/ngBpPGLCXz1fAahAFmKFwJSfUeMJgyDiAuxy7ODZMEwd4zdr1z3riln/Y5NAxTRww5/iNfz37LkEcUIomj8anjgOQDOWtWPL/xcev/26+fI8IAZA8ssVIfMocADMUiXabvuPffyD4B4SmfZsIRgP5DgBaptO54U/qyqP/U1ceA2IIvenyQ7ADQGDFubv/IOIIrNa67g/cwRQ5AIhBqb1u+7m/v/78gVqJG3z/9ftf0caTf5H1gzBV0oD95G3/7r35CPc5Orj+4t0/8/7NWNME1dKAeN2K/6cfvcJwxIHbT/8JVy9H6EHDFKUBZJoLiO+++YDhgHOPX6MmRJB6mF4gpjwKoIZZTdgCt/zEg5f/zj95Deb//ffvv1b7Opy5gSppAITbd1/49/vv3/8dey7+5alY+p+/cun/KYev/gU5oGLzado7YP/tp3/dZuzESOUB8/b+3XbtIap4KaJKp0oaAPr2r3T9SogvkeIXxldoWvWPu2wxVnmqpQGcfAKYalFALqaPA5DiHJ1PlTSAlYZhAnyapAGO0sWXgfgmijgOTNUoAFp6ibN0UShDfT0TELNwlCyKI+QQKoTAYlSL0cGqVcwYDqFWGgAaeh6nxegAFiIli2/BzSDXARxlQIvLl/gzMPxnhEoRD9CihiQHMNTvZ2EvX+xAlI8JAWDUsJcucCTLEyMAMDAAAGKv2gAjztSFAAAAAElFTkSuQmCC);
}